
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
#header #menu{
    display: flex;
  list-style-type: none;
  gap: 32px;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    border: 0.5px solid black;
}
.btn:hover{
    color: green;
    background-color: white;
}
#banner{
    background-image: url("../assets/hero-bg.png");
    height: 667px;
    align-items: center;
    padding: 155px 400px;
    text-align: center;

}
#early-btn{
    color: #30B868;
    background-color: #FFFFFF;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    margin-bottom: 16px;
    transition: all 0.5s;
    cursor: pointer;

}
#early-btn:hover{
     color: black;
    background-color: rgb(242, 235, 221);
}
#banner .banner-info h1{
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
     margin-bottom: 16px;
}
#banner .banner-info h1 .Colorful{
color: #30B868;
}
#banner .banner-info p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#banner .banner-btn{
    padding: 12px 16px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    margin-left: 16px;
    transition: all 0.5s;

}
#banner .banner-btn:hover{
     color: green;
    background-color: white;
}
.info-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-top: 48px;
}
.info-heading p{
color: #627382;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
margin-bottom: 44px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    padding: 0 120px 0 120px;
}
.info-card{
width: 322px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 16px;
padding: 24px;
box-shadow: 0 6px 50px 0 #00000015;
}
.info-card img{
    background-color: #F95555;
    width: 60px;
    height: 60px;
   border-radius: 50%;
  padding: 15px;
}
.info-card h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.info-card p{
    font-size: 16px;
  line-height: 20px;
    color: #627382;
}
#second-brain{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 120px 120px;
    align-items: center;
}
#second-brain-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
#second-brain-info{
    gap: 40px;
}
#second-brain-info .solution{
font-size: 16px;
line-height: 20px;
color: #30B868;
text-align: left;
}
#second-brain-info h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: left;
    padding: 16px 0 16px 0;
}
#second-brain-info #information{
     font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#second-brain-info #checked-box{
    list-style: none;
gap: 16px;
}
#second-brain-info #checked-box li {
    display: flex;
    align-items: center;
    gap: 6px;          
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

#second-brain-info #checked-box li::before {
    content: url("../assets/CheckCircle.png");
    width: 20px; 
    height: 20px;
}
#early-access{
    margin: 0 120px 120px 120px;
    padding: 80px 40px;
    align-items: center;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
}
#early-access h2{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
}
#early-access .invite{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 24px;
}
#early-access .copyright{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
footer{
padding: 120px 120px 30px 120px;
gap: 80px;
background: #001931;
color: #FFFFFF;
text-align: center;
}
#footer-items #icons{
  padding: 16px;  
}
#footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

hr{
opacity: 0.2;
align-self: stretch;
}
#last-p{
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

